.content-container{
  background-color:white;
  height:100%;
  padding-top:10px;
  display: flex;
  flex-direction: column;
}

.content-container-wrapper{
  padding-top:80px;
  height:100vh;
}

.navigation-bar{
  display: flex;
}

.navigation-bar nav{
  flex: 1;
  border-bottom: 5px solid #DDDDDD;
  font-size: 1.1em;
}

.navigation-bar nav.active{
  border-bottom: 5px solid green;
}

.page-container{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:50px;
}