.content-container{
  background-color:white;
  height:100%;
  padding-top:10px;
  display: flex;
  flex-direction: column;
}

.content-container-wrapper{
  padding-top:80px;
  min-height:100vh;
  padding-left:0px;
  padding-right:0px;
}

.navigation-bar{
  display: flex;
}

.navigation-bar nav{
  flex: 1;
  border-bottom: 5px solid #DDDDDD;
  font-size: 1.1em;
  transition: border-bottom 0.8s ease;
}

.navigation-bar nav.active{
  border-bottom: 5px solid green;
  transition: border-bottom 0.8s ease;
}

.page-container{
  flex:1;
  margin-bottom:4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}