@keyframes fadeIn {
  0% { opacity: 0; }
  100% { transform: 1; }
}

.data-collection{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration:350ms;
}

.data-collection .collection-category-height{
  flex: 1 1 100px; /*default height must be specified, because auto will grow to fit the potentially overflowing content and counteract the overflow-hidden of the child element. */
}

.collection-category{
  height:100%;
  display: flex;
  flex-direction: column;
  margin-bottom:50px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.collection-category::-webkit-scrollbar {
  display: none;
}

.collection-category > *{
  margin: auto;
}


.collection-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position:relative;
  z-index: 1;
}

.collection-sidebar.left{
  float: left;
}

.collection-sidebar.right{
  float: right;
}

@keyframes pulse {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes singlePulse {
  0% { transform: scale(1); }
  40% { transform: scale(1.08); }
  100% { transform: scale(1); }
}

.collection-sidebar-navButton{
  color:#a4e0a4;
}
.collection-sidebar-navButton:hover{
  font-size:3em;
  animation-name: singlePulse;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration:500ms;
  cursor:pointer;
  color:green;
  transition-property: color;
  transition-duration:500ms;
}

.data-collection h3{
  padding-top:20px;
}

.multiselect-question {
  max-width:50ch;
  margin:auto;
}

.data-collection .carousel-inner {
  width:auto;
  height:100%;
}

.data-collection .carousel {
  height:100%;
}

.data-collection .carousel-item{
  height:100%;
}

.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out .4s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

.multiselect-question p {
  font-size: 1.4rem;
  border-bottom: 5px solid #555555;
}
.multiselect-question button {
  margin:5px;
  font-size:1.2rem;
}

.rank_content{
  padding:10px;
  font-size:1em;
  width:50%;
  margin:auto;
  user-select:none;
}

@media only screen and (max-width: 768px) {
  [class*="rank_content"] {
    width:100%;
  }
}
.rank_icon{
  float:left;
}

.rank_list{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align:center
}

.card-selection-option{
  width: 24rem;
  cursor:pointer;
  position:relative;
  top:0em;
  transition: all 0.3s ease-in-out;
}

.card-selection-column.top-1{
  top: 3em;
}

.card-selection-column.top-2{
  top: 6em;
}

.card-selection-column.top-3{
  top: 9em;
}

.card-selection-column.top-4{
  top: 12em;
}

.card-selection-option.selected{
  transition: all 0.3s ease-in-out;
  top: -1em;
  border-width: 2px;
  z-index:1;
}

.card-selection-option:hover{
  z-index:1;
}

.card-selection-option-wrapper{
  margin-left: -8rem; /* card-selection-option:width/3 */
}

.card-selection-column{
  position:relative;
  display:inline-block;
  width:15rem;
  margin:0px;
  padding:0px;
  overflow:visible;
  user-select:none;
}

.single-select-options-container{
  display: flex;
    flex-direction: row;
    height: 100%;
}

.single-select-option-column{
  flex: 1;
  height:100%;
}

.single-select-option-column .card{
  height:100%;
  cursor:pointer;
}

.single-select-option-column .card-body{
  overflow:auto;
  padding-bottom:0px;
}

.single-select-option-column .card .list-group{
  border-bottom:none;
}

.single-selection-option-body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.single-selection-option-body :last-child{
  flex: 1;
}