.footer{
  text-align:center;
  color: #292929;
  font-size: 0.7em;
  width:100%;
  position:fixed;
  bottom:0px;
  padding-bottom:1em;
  z-index:1;
  background-color:white;
}
.footer-portrait{
  display:inline;
}